@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Syne&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Syne';
}

.nav {
  @apply max-w-[1200px] h-[80px] flex items-center justify-between px-4 mx-auto z-[9];
}

.logo {
  @apply w-[60px] h-[60px] flex items-center justify-center;
}

.links {
  @apply flex gap-3;
}

.blurry {
  background: #ffffff53;
  backdrop-filter: blur(30px);
  backface-visibility: hidden;
}

.btn {
  background: linear-gradient(113.87deg, #DD5690 14.81%, #FDB95F 88.76%);
  @apply w-[200px] px-8 py-3 text-center text-white rounded-3xl tracking-wider font-semibold text-base;
}

.gradient {
  background: linear-gradient(113.87deg, #DD5690 14.81%, #FDB95F 88.76%);
}